* {
  padding: 0;
  margin: 0;
}

body {
  height: 150vh;
  background-color: #fefeed;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}

.topbar {
  flex: 0.7;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: none;
  background-color: #f6b848;
}
.topbar .topbar-left {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbar .topbar-right {
  flex: 1;
  display: flex;
  flex-direction: none;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
}
.topbar .topbar-right i {
  margin: 10px;
}

.navbar {
  flex: 0.7;
  background-color: #383429;
  display: flex;
}
.navbar .navbar-left {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 914px) {
  .navbar .navbar-left {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
  }
}
.navbar .navbar-left a {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}
@media screen and (max-width: 914px) {
  .navbar .navbar-left a {
    font-size: 10px;
  }
}
.navbar .navbar-left .nav-a1,
.navbar .navbar-left .nav-a2,
.navbar .navbar-left .nav-a3 {
  padding: 10px;
  color: #fefeed;
  background-color: #9db054;
  margin: 5px;
  border-radius: 10px;
  border: none;
  box-shadow: #f6b848 0px 50px 100px -20px, #f6b848 0px 30px 60px -30px, #f6b848 0px -2px 6px 0px inset;
}
@media screen and (max-width: 914px) {
  .navbar .navbar-left .nav-a1,
.navbar .navbar-left .nav-a2,
.navbar .navbar-left .nav-a3 {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}
.navbar .navbar-left .nav-a1:hover,
.navbar .navbar-left .nav-a2:hover,
.navbar .navbar-left .nav-a3:hover {
  color: #fefeed;
  background-color: #383429;
  box-shadow: none;
  transition: 1.5s;
}
.navbar .navbar-right {
  flex: 1;
  display: flex;
  flex-direction: none;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 914px) {
  .navbar .navbar-right {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 15px;
  }
}
.navbar .navbar-right a {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 914px) {
  .navbar .navbar-right a {
    font-size: 10px;
    width: 20%;
    align-items: flex-start;
    justify-content: center;
  }
}
.navbar .navbar-right a i {
  padding: 0 10px;
}
.navbar .navbar-right .log, .navbar .navbar-right .re {
  padding: 10px;
  color: #fefeed;
  background-color: #9db054;
  margin: 5px;
  border-radius: 10px;
  border: none;
  box-shadow: #f6b848 0px 50px 100px -20px, #f6b848 0px 30px 60px -30px, #f6b848 0px -2px 6px 0px inset;
}
.navbar .navbar-right .log:hover, .navbar .navbar-right .re:hover {
  color: #fefeed;
  background-color: #383429;
  box-shadow: none;
  transition: 1.5s;
}
.navbar .navbar-right .re {
  margin-right: 7%;
}
@media screen and (max-width: 914px) {
  .navbar .navbar-right .re {
    margin-right: 5px;
  }
}
.navbar img {
  position: absolute;
  z-index: -1;
}

.main {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 5%;
}
.main .main-search-button {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
}
.main .main-search-button .main-search {
  display: flex;
  flex-direction: none;
  justify-content: space-between;
  align-items: center;
}
.main .main-search-button .main-search .button-search {
  box-shadow: #f6b848 0px 50px 100px -20px, #f6b848 0px 30px 60px -30px, #f6b848 0px -2px 6px 0px inset;
  padding: 8px 40px;
  background-color: #fefeed;
  border-radius: 10px;
}
@media screen and (max-width: 914px) {
  .main .main-search-button .main-search .button-search {
    padding: 0;
  }
}
.main .main-search-button .main-search .button-search i {
  font-size: 20px;
  color: #9db054;
  padding: 10px;
}
@media screen and (max-width: 914px) {
  .main .main-search-button .main-search .button-search i {
    padding: 0;
    font-size: 15px;
  }
}
.main .main-search-button .main-search .button-search input {
  border: none;
  outline: none;
  padding: 10px;
  width: 80%;
}
.main .main-search-button .main-search span {
  padding: 10px;
  color: #fefeed;
  background-color: #9db054;
  margin: 5px;
  border-radius: 10px;
  border: none;
  box-shadow: #f6b848 0px 50px 100px -20px, #f6b848 0px 30px 60px -30px, #f6b848 0px -2px 6px 0px inset;
  font-size: 20px;
  padding: 15px 30px;
}
@media screen and (max-width: 914px) {
  .main .main-search-button .main-search span {
    font-size: 15px;
    padding: 10px;
  }
}
.main .main-search-button .main-search span:hover {
  color: #fefeed;
  background-color: #383429;
  box-shadow: none;
  transition: 1.5s;
}
.main .main-search-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .main-search-link h3 {
  color: #fefeed;
}
@media screen and (max-width: 914px) {
  .main .main-search-link h3 {
    display: none;
  }
}
.main .main-search-link a {
  padding: 10px;
  color: #fefeed;
  background-color: #9db054;
  margin: 5px;
  border-radius: 10px;
  border: none;
  box-shadow: #f6b848 0px 50px 100px -20px, #f6b848 0px 30px 60px -30px, #f6b848 0px -2px 6px 0px inset;
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
  opacity: 0.8;
}

.footer {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  background-color: #fefeed;
}
.footer img {
  background-color: none;
}
.footer-top {
  flex: 8.5;
  background-color: #383429;
  display: flex;
}
@media screen and (max-width: 914px) {
  .footer-top {
    display: flex;
    flex-direction: column;
  }
}
.footer-top-a1 {
  flex: 1;
}
.footer-top-a2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fefeed;
}
@media screen and (max-width: 914px) {
  .footer-top-a2 {
    padding: 20px;
  }
}
.footer-top-a2 h2 {
  margin: 5% 0 10% 0;
  color: #f6b848;
  padding-bottom: 10px;
  border-bottom: 3px solid #9db054;
}
.footer-top-a3 {
  flex: 1;
}
.footer-top-a4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fefeed;
}
@media screen and (max-width: 914px) {
  .footer-top-a4 {
    padding: 20px;
  }
}
.footer-top-a4 .group-icon-pt {
  display: flex;
  align-items: center;
}
.footer-top-a4 .group-icon-pt i {
  padding: 5px;
  font-size: 20px;
}
.footer-top-a4 a {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #fefeed;
}
.footer-top-a4 h2 {
  margin: 5% 0 10% 0;
  color: #f6b848;
  padding-bottom: 10px;
  border-bottom: 3px solid #9db054;
}
.footer-top-a4 .group-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-top-a4 .group-icon i {
  padding: 10px;
  border-radius: 50%;
  margin: 0 5px 5px 5px;
  background-color: #f6b848;
}
.footer-top-a5 {
  flex: 1;
}
.footer-top-a6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fefeed;
}
@media screen and (max-width: 914px) {
  .footer-top-a6 {
    padding: 20px;
  }
}
.footer-top-a6 h2 {
  margin: 5% 0 10% 0;
  color: #f6b848;
  padding-bottom: 10px;
  border-bottom: 3px solid #9db054;
}
.footer-top-a7 {
  flex: 1;
}
.footer-button {
  flex: 1.5;
  background-color: #fefeed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  flex: 5;
  display: flex;
}
.login-container .form-login {
  width: 100%;
  display: flex;
  background-color: #fefeed;
}
.login-container .form-login-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 914px) {
  .login-container .form-login-left {
    display: none;
  }
}
.login-container .form-login-left img {
  margin-top: 10%;
}
.login-container .form-login-right {
  flex: 1;
  display: flex;
  justify-content: center;
}
.login-container .form-login-right form {
  height: 70%;
  width: 400px;
  background-color: #383429;
  margin-top: 10%;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
@media screen and (max-width: 914px) {
  .login-container .form-login-right form {
    width: 300px;
  }
}
.login-container .form-login-right form * {
  color: #fefeed;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.login-container .form-login-right form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
.login-container .form-login-right label {
  display: block;
  margin-top: 2%;
  font-size: 16px;
  font-weight: 500;
}
.login-container .form-login-right input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 2%;
  font-size: 14px;
  font-weight: 300;
}
.login-container .form-login-right ::-moz-placeholder {
  color: #e5e5e5;
}
.login-container .form-login-right :-ms-input-placeholder {
  color: #e5e5e5;
}
.login-container .form-login-right ::placeholder {
  color: #e5e5e5;
}
.login-container .form-login-right button {
  margin-top: 50px;
  width: 100%;
  background-color: #fefeed;
  color: #383429;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600px;
  border-radius: 5px;
  cursor: pointer;
}
.login-container .form-login-right .social {
  margin-top: 30px;
  display: flex;
}
.login-container .form-login-right .social div {
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}
.login-container .form-login-right .social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}
.login-container .form-login-right .social .fb {
  margin-left: 25px;
}
.login-container .form-login-right .social i {
  margin-right: 4px;
}

.cv-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 914px) {
  .cv-container {
    justify-content: center;
  }
}
.cv-container h2 {
  font-weight: bold;
  padding: 10px;
  color: #fefeed;
  background-color: #9db054;
  margin: 5px;
  border-radius: 10px;
  border: none;
}
.cv-container .header {
  margin-top: 2%;
}
.cv-container .header .list-cv {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  padding: 5px;
}
.cv-container .header .list-cv h3 {
  margin-right: 20px;
}
.cv-container .header .amm h2 {
  padding: 10px;
  color: #fefeed;
  background-color: #9db054;
  margin: 5px;
  border-radius: 10px;
  border: none;
  width: 7%;
}
.cv-container .header .cover {
  margin: 5px;
}
.cv-container .header .accept {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}
.cv-container .header .accept .checkbox {
  margin-right: 100px;
}
.cv-container .header .btn {
  display: flex;
}
.cv-container .header .btn .btn-right, .cv-container .header .btn .btn-left {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
}
.cv-container .header .btn .btn-right a, .cv-container .header .btn .btn-left a {
  padding: 10px;
  color: #fefeed;
  background-color: #9db054;
  margin: 5px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #383429;
}/*# sourceMappingURL=login.css.map */